<div class="mt-2 row bg-light align-items-center py-2">
    <span class="circle p-3 col-1 d-flex justify-content-center align-items-center">
        <img src="assets/images/play.svg" alt="">
    </span>
    <span class="p-text-audio col-8">
        المجلس - 1 - تخريج الفروع على الأصول من كتاب منهج السالكين - مقدمة - كتاب الطهارة 3-11-1434
    </span>
    <div class="col-3 text-end">
        <span class="p-hint">مدة المادة :</span>
        <span class="pp-hint">03:50 دقيقة</span>
    </div>
</div>