<!-- <audio [src]="item.audio_file"></audio> -->
<audio #audioPlayer controls style="display: none;" (loadedmetadata)="getAudioDuration()" >
    <source [src]="getUrl(item.audio_file)" type="audio/mp3">
  </audio>
<div class="mt-2 row bg-light align-items-center py-2">
    <span class="circle p-3 col-1 d-flex justify-content-center align-items-center">
        <img width="32" height="32" [src]="play?'assets/images/play.svg':'assets/images/pause.svg'" alt="" (click)="playPause(audioPlayer)" style="cursor: pointer;">
    </span>
    <a class="p-text-audio col-8 text-decoration-none" [href]="['video-audio/courses-content/'+item.slug]">
      {{text}}: ({{item.title}})
    </a>
    <div class="col-3 text-end">
        <span class="p-hint">مدة المادة :</span>
        <span class="pp-hint">{{ audioDuration}}</span>
    </div>
</div>