/* .site-header{
    padding: 20px 0px 25px 0px;
} */
.small-information{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: black;
}
.search-for-section{
    background-color: white;
    padding: 30px 20px;
    min-height: 640px;
    margin-bottom: 50px;
}