<div class="sub-header">أقسام الفتاوى</div>
{{categories.length}}
<div *ngFor="let item of categories; let i = index;">
    <ng-container *ngIf="(i + 1) % 6 === 0">
            <div class="outer-container">
                <div class="box box-one"><a style="text-decoration: none;" *ngIf="categories[i+0]" routerLink="#"> <div class="content">{{categories[i+0].cat}}</div> </a></div>
                <div class="box box-two"><a style="text-decoration: none;" *ngIf="categories[i+1]" routerLink="#"> <div class="content">{{categories[i+1].cat}}</div> </a></div>
                <div class="box box-three" style="margin-left: 0;"><a style="text-decoration: none;" *ngIf="categories[i+2]" routerLink="#"> <div class="content">{{categories[i+2].cat}}</div> </a></div>
            </div>
            <div class="outer-container">
                <div class="box box-three-right"><a style="text-decoration: none;" *ngIf="categories[i+3]" routerLink="#"> <div class="content">{{categories[i+3].cat}}</div> </a></div>
                <div class="box box-one"><a style="text-decoration: none;" *ngIf="categories[i+4]" routerLink="#"> <div class="content">{{categories[i+4].cat}}</div> </a></div>
                <div class="box box-two" style="margin-left: 0;"><a style="text-decoration: none;" *ngIf="categories[i+5]" routerLink="#"> <div class="content">{{categories[i+5].cat}}</div> </a></div>
            </div>
             <!-- <a *ngIf="categories[i+0]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+0].cat}}</div> </div></div></a>
             <a *ngIf="categories[i+1]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+1].cat}}</div> </div></div></a>
             <a *ngIf="categories[i+2]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(40% - 0px);margin-left: 0px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+2].cat}}</div> </div></div></a>
             <a *ngIf="categories[i+3]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(40% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+3].cat}}</div> </div></div></a>
             <a *ngIf="categories[i+4]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+4].cat}}</div> </div></div></a>
             <a *ngIf="categories[i+5]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 0px);margin-left: 0px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+5].cat}}</div> </div></div></a> -->
    </ng-container>
    <ng-container *ngIf="i > 27">
        <div class="outer-container">
            <div class="box box-three-right"><a style="text-decoration: none;" *ngIf="categories[i]" routerLink="#"> <div class="content">{{categories[i].cat}}</div> </a></div>
            <div class="box box-one"><a style="text-decoration: none;" *ngIf="categories[i]" routerLink="#"> <div class="content">{{categories[i].cat}}</div> </a></div>
            <div class="box box-two" style="margin-left: 0;"><a style="text-decoration: none;" *ngIf="categories[i]" routerLink="#"> <div class="content">{{categories[i].cat}}</div> </a></div>
        </div>
        <!-- <a *ngIf="categories[i+6]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+6].cat}}</div> </div></div></a>
        <a *ngIf="categories[i+7]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(30% - 5px);margin-left: 5px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+7].cat}}</div> </div></div></a>
        <a *ngIf="categories[i+8]" routerLink="#"><div class="fatawaSectionItem" style="width: calc(40% - 0px);margin-left: 0px;"><div class="fatawaSectionInnerItem"><div class="itemStyle">{{categories[i+8].cat}}</div> </div></div></a> -->
    </ng-container>
</div>


<!-- ========================================================================================================== -->
