.outer-container {
display: flex;
}
.box {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
transition: height 0.3s;
background-color: white;
padding: 5px;
margin-left: 7px;
margin-top: 7px;
min-height: 60px;
}

.content {
text-align: center;
color: black;
font-size: 16px;
font-weight: 700;
line-height: 18px;
}

.box-one{
    flex: 6;
}
.box-two{
    flex: 6;
}
.box-three{
    flex: 8;
}
.box-three-right{
    flex: 8;
}
