<div class="row bg-background p-0 m-0">
    <div *ngIf="show" class="p-0 m-0" style="margin-top: 100px;">
    <div class="bg-image-background"  [style]="'background-image: url('+image+');height:'+height+'px'"></div>
    <div class="overlay" [style]="'height:'+height+'px'"></div>
    </div>
    <div class="col-6  row">
        <div class="col-12 h-50">
        </div>
        <div class="col-12 ms-4">
            <div class="d-flex justify-content-between bg-bg-bg">
                <a routerLink="/fatawa" class="" style="z-index: 100;">فتاوي الشيخ</a>
                <div class="border-right"></div>
                <a  class="" style="z-index: 100; cursor: pointer;" (click)="Change(1)">البدع العملية</a>
                <div class="border-right"></div>
                <a class=" none-border" style="z-index: 100; cursor: pointer;" (click)="Change(2)">تخريج الأصول على  الفروع</a>
            </div>
            <div style="height: 50%;"></div>
           <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <div [class]="show?'toggle btn btn-secondary off':'toggle btn btn-secondary on'" (click)="change($event)" tabindex="0" style="width: 40.1px; height: 44.25px;"><input _ngcontent-tmm-c25="" type="checkbox" checked=""  data-toggle="toggle" data-onstyle="light"><div class="toggle-group"><span class="btn btn-light toggle-on">On</span><span class="btn btn-secondary toggle-off">Off</span><span class="toggle-handle btn width-btn"></span></div></div>

            </div>
           </div>
        </div>
    </div>
    <div class="col-6" dir="ltr">
        <div class="mx-auto"  [style.height]="(height-30)+'px'">
           <app-book-view [width]="width" [height]="height" [image]="slides[1].image"></app-book-view>
        </div>
    </div>
</div>
<!-- <div class="toggle-group"><span class="btn btn-light toggle-on">On</span><span class="btn btn-secondary toggle-off">Off</span><span class="toggle-handle btn width-btn"></span></div> -->