<div class="me-2 bg-light">
    <img src="assets/test-images/card-aidio.png" width="100%" height="100%" alt="">
    <p class="p5 p-4">اسم الفيديو</p>
    <div class="card-share px-2 mb-4 pb-4">
        <!-- <div class="card-details-title" style="margin-bottom: 40px;">{{.share}}</div> -->
        <div class="research-icons research-inner-container">
            <a class="search-social-media-item-container" href="" target="_blank"><span class="search-social-media-item"><i class="fa-brands fa-facebook-f"></i></span></a>
            <a class="search-social-media-item-container" href="https://m.twitter.com/intent/tweet?text=" target="_blank" ><span class="search-social-media-item"><i class="fa-brands fa-x-twitter"></i></span></a>
            <a class="search-social-media-item-container" href="mailto:?subject=&body=" target="_blank"><span class="search-social-media-item"><i class="fa-regular fa-envelope"></i></span></a>
            <a class="search-social-media-item-container" href="https://wa.me/?text=" target="_blank"><span class="search-social-media-item"><i class="fa-brands fa-whatsapp"></i></span></a>
            <a class="search-social-media-item-container" href="" target="_blank"><span class="search-social-media-item"><i class="fa-solid fa-download"></i></span></a>
        </div>
    </div>
</div>