<svg [attr.width]='width'  [attr.height]="height" viewBox="0 0 500 800" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3081 0L500 43.4588L497.145 757.042L36.1647 800L35.3081 0Z" fill="white"/>
    <mask id="mask0_35_14458" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="35" y="0" width="465" height="800">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3081 0L500 43.4588L497.145 757.042L36.1647 800L35.3081 0Z" fill="white"/>
    </mask>
    <g mask="url(#mask0_35_14458)">
    <rect x="-46.792" y="-3.88889" width="623.751" height="814.205" transform="rotate(-1 -46.792 -3.88889)" fill="url(#pattern0)"/>
    </g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.396 0L0 9.6707L2.32224 790.506L36.3167 799.901L37.396 0Z" fill="#18171E"/>
    <path opacity="0.381733" fill-rule="evenodd" clip-rule="evenodd" d="M37.396 0L0 9.6707L2.32224 790.506L36.3167 799.901L37.396 0Z" fill="url(#paint0_linear_35_14458)"/>
    <defs>
    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
    <use xlink:href="#image0_35_14458" transform="scale(0.000740741 0.000568182)"/>
    </pattern>
    <linearGradient id="paint0_linear_35_14458" x1="0" y1="1163.41" x2="67.7677" y2="1163.41" gradientUnits="userSpaceOnUse">
    <stop stop-opacity="0.01"/>
    <stop offset="1" stop-opacity="0.488019"/>
    </linearGradient>
    <image id="image0_35_14458" width="1350" height="1760" [attr.xlink:href]="image">

    </image>
    </defs>
    </svg>