<app-page-header [pageHeaderInfo]="pageHeaderObj"></app-page-header>
<div class="row">
    <div class="col-12 col-md-8">
        <div class="card-description">
            <div class="card-description-title">{{itemDetails.title}}</div>
            <div class="card-description-image" style="background-image: url('{{itemDetails.image}}');"> </div>
            <div class="card-description-sub-title">{{detailsLabel.subTitle1}}</div>
            <div class="card-description-text" [innerHTML]="itemDetails.brief"></div>
            <div class="card-description-sub-title">{{detailsLabel.subTitle2}}</div>
            <div class="card-description-text" [innerHTML]="itemDetails.answer"></div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card-details">
            <div class="card-details-title" style="margin-bottom: 40px;">{{detailsLabel.details}}</div>
            <div class="card-details-title">{{detailsLabel.duration}}</div>
            <div class="card-details-info">{{itemDetails.duration}}</div>
            <div class="divider"></div>
            <div class="card-details-title">{{detailsLabel.date}}</div>
            <div class="card-details-info">{{itemDetails.launch_date}}</div>
            <div class="divider"></div>
            <div class="card-details-title">{{detailsLabel.author}}</div>
            <div class="card-details-info">{{itemDetails.writer}}</div>
        </div>
        <div class="card-share">
            <div class="card-details-title" style="margin-bottom: 40px;">{{detailsLabel.share}}</div>
            <div class="research-icons research-inner-container">
                <span hidden #itemTitle [innerHTML]="itemDetails.title" ></span>
                <span hidden #facebook [innerHTML]="getItemLink" ></span>
                <a class="search-social-media-item-container" href="{{getFacebookUrl}}" target="_blank"><span class="search-social-media-item"><i class="fa-brands fa-facebook-f"></i></span></a>
                <a class="search-social-media-item-container" href="https://m.twitter.com/intent/tweet?text={{getItemLink}}" target="_blank" ><span class="search-social-media-item"><i class="fa-brands fa-x-twitter"></i></span></a>
                <a class="search-social-media-item-container" href="mailto:?subject={{itemTitle.innerText}}&body={{getItemLink}}" target="_blank"><span class="search-social-media-item"><i class="fa-regular fa-envelope"></i></span></a>
                <a class="search-social-media-item-container" href="https://wa.me/?text={{getItemLink}}" target="_blank"><span class="search-social-media-item"><i class="fa-brands fa-whatsapp"></i></span></a>
                <a class="search-social-media-item-container" href="{{itemDetails.pdf_file}}" target="_blank"><span class="search-social-media-item"><i class="fa-solid fa-download"></i></span></a>
            </div>
        </div>
    </div>
</div>
