<<<<<<< HEAD
.main-layout-container{
    background-image: url('/assets/images/background.svg');
    background-color: #f2f2f2;
    min-height: calc(92vh);
}
@media(0px <= width <= 767px) {
    .main-layout-container{
        padding: 0px 16px;
    }
}
@media(767px <= width <=5000px) {
    .main-layout-container{
        padding: 0px 86px;
    }
}
=======
>>>>>>> a1b541b7df83156f534951be8c11d1c2df80bad9
