<div class=" main-layout-container pt-4">
    <p class="head2 pt-4">قسم الفتاوى</p>
    <div class="d-flex p-0 m-0 mt-4 pt-4">
        <div class="p-4 text-center bg-light w-100 me-4">
            <img src="assets/images/question.svg" alt="question.svg">
            <span class="head2-title ms-4">لدي سؤال</span>
          
        </div>
        <div class="p-4 text-center bg-light w-100 me-4">
           
            <img src="assets/images/magnifier.svg" alt="magnifier.svg">
            <span class="head2-title ms-4">ابحث في الفتاوى</span>
          
        </div>
        <div class="p-4 text-center bg-light w-100">
           
            <img src="assets/images/questions.svg" alt="questions.svg">
            <span class="head2-title ms-4">الفتاوى اليومية</span>
          
        </div>
    </div>
    <div class="mt-4 row">
        <div class="col-8 row">
            <div class="col-4 bg-image ps-0">
                <span class="bg-bidget p-3">
                    فتاوي مختارة
                </span>
            </div>
            <div class="col-8 bg-light pt-4 pe-3">
                <p class="header-question">الإبراء عن الأعيان</p>
                <p class="question"> 
                    س: شيخنا الفاضل .. هل يصح الإبراء عن الأعيان؟ وبالتالي هل يملك المبرأ عنه العين - أي المبرأ منه-؟ جزاكم الله خيرا في الدنيا والآخرة.
                </p>
                <p class="answer">
                    ج: الحمد لله أما بعد .. فإن مسألة الإبراء عن الأعيان في صحتها وثبوتها وعدم ذلك نزاع مشهور بين أهل العلم، وقد اختلفت الأقوال في ذلك، وإن كان أكثرهم يرى بأنه لا يصح الإبراء من الأعيان؛ لأن الملك ثابت، ….
                </p>
            </div>
        </div>
        <div class="col-4 ms-3 row g-2">
            <app-select-fatwa></app-select-fatwa>
            <app-select-fatwa></app-select-fatwa>
            <app-select-fatwa></app-select-fatwa>
            <app-select-fatwa></app-select-fatwa>
        </div>
    </div>
</div>