<div class=" main-layout-container pt-4">
    <p class="head2 pt-4">قسم الفتاوى</p>
    <div class="d-flex flex-column flex-sm-row  p-0 m-0 mt-4 pt-4">
        <div class="p-4 text-center bg-light w-100 my-sm-0 my-2 me-4 ">
            <img src="assets/images/question.svg" alt="question.svg">
            <span class="head2-title ms-4">لدي سؤال</span>
          
        </div>
        <div class="p-4 text-center bg-light w-100 my-sm-0 my-2 me-4">
            <img src="assets/images/magnifier.svg" alt="magnifier.svg">
            <span class="head2-title ms-4">ابحث في الفتاوى</span>
        </div>
        <div class="p-4 text-center bg-light my-sm-0 my-2 w-100">
            <img src="assets/images/questions.svg" alt="questions.svg">
            <span class="head2-title ms-4">الفتاوى اليومية</span>
        </div>
    </div>
    
    <div class="pt-4">
        <app-fatawa-question-card></app-fatawa-question-card>
    </div>
</div>