<app-page-header [pageHeaderInfo]="pageHeaderObj" ></app-page-header>
<div class="row">
    <div class="col-12 col-md-6 ">
        <app-fatawa-button-card [data]="questionInfo"></app-fatawa-button-card>
    </div>
    <div class="col-12 col-md-6 ">
        <app-fatawa-button-card [data]="searchInfo"></app-fatawa-button-card>
    </div>
    <div class="col-12 col-md-6 {{windowWidth > 767 ? 'd-none':''}}" (click)="scrollToTodaysFatwaSection()">
        <app-fatawa-button-card [data]="todaysFatwaInfo"></app-fatawa-button-card>
    </div>
</div>
<app-fatawa-question-card></app-fatawa-question-card>
<div class="row" style="padding-bottom: 50px;">
    <div class="col-12 col-md-8" #todaysFatwaSection>
        <app-page-header [pageHeaderInfo]="pageHeaderDailyFatwaObj" ></app-page-header>
        <app-fatwa-card [Question]="questionDetails" ></app-fatwa-card>
        <app-fatwa-answer-card [answer]="answer"></app-fatwa-answer-card>
        <div class="sub-header">كلمات مفتاحية</div>
        <a *ngFor="let item of keywords" routerLink="/fatawa/related-questions-keywords/{{item.id}}" class="keyword-item" >{{item.kword}}</a>
        <div class="sub-header">مواضيع ذات صلة</div>
        <div *ngFor="let item of relatedTopics" >
            <app-fatawa-preferred-card title="{{item.cat}}" label="فتاوي مختارة" flag="true" id="{{item.id}}"></app-fatawa-preferred-card>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <app-page-header [pageHeaderInfo]="pageHeaderSpeedSearchObj" ></app-page-header>
        <app-fatawa-quick-search-card></app-fatawa-quick-search-card>
        <div class="sub-header">أقسام الفتاوى</div>
        <a routerLink="#" class="keyword-item" >الحديث</a>
        <a routerLink="#" class="keyword-item" >الإيمان</a>
        <a routerLink="#" class="keyword-item" >الجهاد ومعاملة  الكفار</a>
        <a routerLink="#" class="keyword-item" >الحج والعمرة</a>
        <a routerLink="#" class="keyword-item" >الزكاة</a>
        <a routerLink="#" class="keyword-item" >فقه الأسرة</a>
        <a routerLink="#" class="keyword-item" >الحديث</a>
    </div>
</div>