
<div class="d-flex justify-content-betweenalign-items-center pt-4">
    <p class="po mt-2">دروس ودورات <span class="po_h">({{selectedItems.length}} درس ودورة)</span></p>
    <div class="bg-light p-1 rounded  d-sm-block d-md-none " style="cursor: pointer;" (click)="w3_open()">
        <img src="/assets/images/magnifier.svg" width="30" height="30">
        <span class="text-mobile">البحث</span>
    </div>
</div>
<div class="row">
    <div class="col-4  pb-4  d-none d-sm-block">
        <form [formGroup]="myForm" class="bg-light p-4">
            <div class="form-control-content mt-4">
                <label for="email" class="input-label">ابحث بإسم المادة</label>
                <div class="controller-field-container">
                    <img src="/assets/images/magnifier.svg" class="controller-field-prefix-image" alt="">
                    <input type="text" class="controller-field-input" name="search" id="search" formControlName="search" placeholder="ابحث بإسم المادة">
                </div>
    
            </div>
        
        <p class="label-p ms-2">
            نوع المادة
        </p>
       <div class="ps-2">
        <div class="d-inline-block d-block"><span> <input  type="checkbox"   name="type" formControlName="type" class="check-box-input"> </span><span class="quick-serch-text ps-3">درس</span></div>
        <div class="d-inline-block mt-2"><span> <input  type="checkbox"  name="type2" formControlName="type2" class="check-box-input"> </span><span class="quick-serch-text ps-3">دورة</span></div>
       </div>
        <p class="label-p ms-2 mt-4">
            تخصص المادة
        </p>
       <div class="ps-2 ">
        <div class="d-inline-block d-block"><span> <input  type="checkbox"  name="type" formControlName="special" class="check-box-input"> </span><span class="quick-serch-text ps-3">فقه</span></div>
        <div class="d-inline-block mt-2 d-block"><span> <input  type="checkbox"  formControlName="special" class="check-box-input"> </span><span class="quick-serch-text ps-3">عقيدة</span></div>
        <div class="d-inline-block d-block mt-2"><span> <input  type="checkbox"   formControlName="special" class="check-box-input"> </span><span class="quick-serch-text ps-3">فقه</span></div>
        <div class="d-inline-block mt-2"><span> <input  type="checkbox"  formControlName="special" class="check-box-input"> </span><span class="quick-serch-text ps-3">عقيدة</span></div>
       </div>
       <div class="row align-items-center mt-4">
        <button class="submit-btn col-8" type="submit" (click)="submit()">ابحث</button>
        <!-- <button class="">ابحث</button> -->
        <button class="btn border-none delete col-4 text-center" (click)="deleteA()">مسح</button>
       </div>
    </form>
    </div>
    <div class="col-12 col-md-8">
        <app-audio-card *ngFor="let item of selectedItems" [item]="item" style="cursor: pointer;" (click)="onSelect(item.slug)"></app-audio-card>
    </div>

</div>
<app-pagination *ngIf="paginationObj.total > 0" (pageNumberClicked)="onPageNumberClicked($event)" [paginationInfo]="paginationObj"></app-pagination>
<div class="w3-overlay" (click)="w3_close()" style="cursor:pointer" [style.display]="sidebarDisplay"></div>
<div class="" style="z-index:100"   [style.display]="sidebarDisplay">
    <form [formGroup]="myForm">
    <div class="bg-light p-3  d-block d-sm-none" style="position: absolute; width: 100%; right: 0; left: 0; bottom: 0; z-index: 10000000;" >
        <div class="form-control-content mt-4">
            <label for="email" class="input-label">ابحث بإسم المادة</label>
            <div class="controller-field-container">
                <img src="/assets/images/magnifier.svg" class="controller-field-prefix-image" alt="">
                <input type="text" class="controller-field-input"  name="search" id="search" formControlName="search" placeholder="ادخل باسم الفتوه">
            </div>

        </div>
    
    <p class="label-p ms-2">
        نوع المادة
    </p>
   <div class="ps-2">
    <div class="d-inline-block d-block"><span> <input  type="checkbox"   name="type" formControlName="type" class="check-box-input"> </span><span class="quick-serch-text ps-3">درس</span></div>
    <div class="d-inline-block mt-2"><span> <input  type="checkbox"  name="type2" formControlName="type2" class="check-box-input"> </span><span class="quick-serch-text ps-3">دورة</span></div>
   </div>
    <p class="label-p ms-2 mt-4">
        نوع المادة
    </p>
   <div class="ps-2 ">
    <div class="d-inline-block d-block"><span> <input  type="checkbox"   name="keywork1" class="check-box-input"> </span><span class="quick-serch-text ps-3">درس</span></div>
    <div class="d-inline-block mt-2 d-block"><span> <input  type="checkbox"  name="keywork1" class="check-box-input"> </span><span class="quick-serch-text ps-3">دورة</span></div>
    <div class="d-inline-block d-block mt-2"><span> <input  type="checkbox"   name="keywork1" class="check-box-input"> </span><span class="quick-serch-text ps-3">درس</span></div>
    <div class="d-inline-block mt-2"><span> <input  type="checkbox"  name="keywork1" class="check-box-input"> </span><span class="quick-serch-text ps-3">دورة</span></div>
   </div>
   <div class="row align-items-center mt-4">
    <!-- <button class="submit-btn col-8">ابحث</button> -->
    <button class="submit-btn col-8" type="submit" (click)="submit()">ابحث</button>
    <!-- <span class="delete col-4 text-center">مسح</span> -->
    <button class="btn border-none delete col-4 text-center" (click)="deleteA()">مسح</button>
   </div>
 
</div>
</form>
  </div>