<div class="quick-search-item">
    <div class="row">
        <div class="col-12">
            <div class="form-control-content">
                <label for="email" class="input-label">ابحث بإسم الفتوى</label>
                <div class="controller-field-container">
                    <img src="/assets/images/magnifier.svg" class="controller-field-prefix-image" alt="">
                    <input type="text" class="controller-field-input" name="fatwaName" id="fatwaName" placeholder="ابحث بإسم الفتوى">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="quick-serch-text">نوع الربط فى البحث</div>
        </div>
        <div class="col-12 py-3 d-flex align-items-center justify-content-between">
            <div class="d-inline-block"><span> <input type="checkbox" name="and" id="and" class="check-box-input"> </span><span class="quick-serch-text ps-3">أو</span></div>
            <div class="d-inline-block"><span> <input type="checkbox" name="or" id="or" class="check-box-input"> </span><span class="quick-serch-text ps-3">و</span></div>
            <div class="d-inline-block"><span> <input type="checkbox" name="without" id="without" class="check-box-input"> </span><span class="quick-serch-text ps-3">بدون كلمات مفتاحية</span></div>
        </div>
        <div class="col-12">
            <div class="row py-3">
                <div class="col-7">
                    <button routerLink="#" class="submit-btn">ابحث</button>
                </div>
                <div class="col-5">
                    <button routerLink="#" class="botton-link" style="background-color: white; color: #A7A7A7;">مسح</button>
                </div>
            </div>
        </div>
        <div class="col-12 pt-3">
            <div class="form-control-content">
                <label for="email" class="input-label">ابحث برقم الفتوى</label>
                <div class="controller-field-container">
                    <img src="/assets/images/magnifier.svg" class="controller-field-prefix-image" alt="">
                    <input type="text" class="controller-field-input" name="fatwaNumber" id="fatwaNumber" placeholder="ابحث برقم الفتوى">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row py-3">
                <div class="col-7">
                    <button routerLink="#" class="submit-btn">ابحث</button>
                </div>
                <div class="col-5">
                    <button routerLink="#" class="botton-link" style="color: #A7A7A7;">مسح</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button routerLink="#" class="botton-link" style="color: #00A58C;">انتقل إلى  البحث المتقدم</button>
        </div>
    </div>
</div>