<div class="row">
    <div class="col-md-7">
        <div class="fatawa-question-card">
            <div class="row">
                <div class="col-12 col-md-4  ">
                    <div class="question-card-img-container"
                        style="background-image: url('{{imgApiUrl}}/{{preferred.img}}');">
                        <div class="label-header">فتاوي مختارة</div>
                        <div class="images-verically"
                            style="background-image: url('/assets/images/design-fatwa-image.svg');"></div>
                    </div>
                </div>
                <div class="col-12 col-md-8  ">
                    <div class="question-card-question-details-container">
                        <div class="fatwa-header">{{preferred.title}}</div>
                        <div class="fatwa-question truncate-2-lines">{{preferred.ques}}</div>
                        <div class="fatwa-answer truncate-3-lines">{{preferred.answer}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div *ngFor="let item of preferredList.slice(0,4)" >
            <app-fatawa-preferred-card [title]="item.title" label="فتاوي مختارة" id="{{item.id}}"></app-fatawa-preferred-card>
        </div>
    </div>
</div>