<div class="fatawa-question-card">
    <div class="row">
        <div class="col-12 col-md-3  ">
            <div class="question-card-img-container" style="background-image: url('/assets/test-images/bg-image.png');">
                <div class="label-header">السؤال</div>
                <div class="images-verically" style="background-image: url('/assets/images/design-fatwa-image.svg');">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="question-card-question-details-container">
                <div class="fatwa-header">الإبراء عن الأعيان</div>
                <div class="fatwa-meta-data">
                    <div class="d-sm-block d-md-inline-block "><span class="fatwa-meta-data-label">تاريخ النشر : </span><span class="fatwa-meta-data-info me-2">28-08-2001</span></div>
                    <div class="d-sm-block d-md-inline-block "><span class="fatwa-meta-data-label">فتوى رقم : </span><span class="fatwa-meta-data-info me-2">362854</span></div>
                    <div class="d-sm-block d-md-inline-block "><span class="fatwa-meta-data-label">المجيب : </span><span class="fatwa-meta-data-info">فضيلة الشيخ سليمان عبدالله الماجد</span></div>
                </div>
                <div class="fatwa-question">س: شيخنا الفاضل .. هل يصح الإبراء عن الأعيان؟ وبالتالي هل يملك المبرأ عنه العين - أي المبرأ منه-؟ جزاكم الله خيرا في الدنيا والآخرة.</div>
            </div>
        </div>
    </div>
</div>