<div class=" mx-auto p-2 pb-4" style="position: relative; bottom: -70px;">
    <div class="bg-light px-2">
        <div class="image-top">
            <img src="assets/images/image1.png" alt="" width="100%" class="">
            <p class="header-card p-2">تخريج الفروع على الأصول من كتاب منهج السالكين</p>
            <p class="text-body p-2 pt-0">
                سلسلة دروس علمية لفضيلة الشيخ سليمان بن عبدالله الماجد في (تخريج الفروع على الأصول من كتاب منهج السالكين) للعلامة ابن السعدي رحمه الله
            </p>
            <ul class="font-ul custom-list">
                <li>المجلس - 1 - تخريج الفروع على الأصول من كتاب منهج السالكين - مقدمة - كتاب الطهارة 3-11-1434</li>
                <li>المجلس - 2 - تخريج الفروع على الأصول من كتاب منهج السالكين - باب: الآنية – الاستنجاء 10-11-1434</li>
                <li>المجلس - 3 - تخريج الفروع على الأصول من كتاب منهج السالكين - باب نواقض الوضوء 24-11-14</li>
            </ul>
            <a href="" class="alink pb-4 mb-4">المزيد (+90 درس)</a>
           </div>
    </div>
 
</div>
