<div class="main-layout-container pt-4" >
    <div class="bg-image-">
        <p class="center-head text-center py-4 my-4">صوتيات ومرئيات</p>
        <div class="row pb-4 mb-4">
            <div class="col-md-4 col-1"></div>
            <div class="col-md-4 col-10 d-flex justify-content-between">
            <div class="text-btn px-3 py-2 pb-3 btn-active">
                دروس
            </div>
            <div class="text-btn px-3 py-2 pb-3">
                محاضرات
            </div>
            <div class="text-btn px-3 py-2 pb-3">
                دورات
            </div>
            </div>
            <div class="col-md-4 col-1"></div>
        </div>
        <div class="slick-carousel-3" style="position: relative; bottom: -70px;">
                <app-item-section>
                </app-item-section>
                <app-item-section>
                </app-item-section>
                <app-item-section>
                </app-item-section>
           
        </div>
    </div>
</div>
