.col-p {
    color: #000;
    text-align: right;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
}

.p1 {
    color: #00A58C;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p2 {
    color: var(--Gray, #C0C0C0);
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p3 {
    color: #000;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pppp {
    color: #1A201D;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    /* 212.5% */
}

.p-light {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFF;
    text-align: right;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #00A88E;
}


.mt--{
    margin-top: 0 !important;
} 