<div #listContainer>
<div *ngFor="let category of categories;let i = index" class="couter-container-category-item"  id="item{{category.id}}">
    <div (click)="toggleDiv(i)" class="item-container">{{category.cat}}</div>
    <img (click)="toggleDiv(i)" *ngIf="divStates[i] === 'closed'" src="/assets/images/expand.svg" class="icon-collapse-expand">
    <img (click)="toggleDiv(i)" *ngIf="divStates[i] === 'open'" src="/assets/images/collapse.svg" class="icon-collapse-expand">
    <div  [@fadeInOut]="divStates[i]" class="sub-item-element">
        <!-- <a routerLink="#" class="inner-item" *ngIf="category.childs.length==0"> لا يوجد فتاوى فرعية </a> -->
        <a routerLink="/fatawa/related-questions/{{category.id}}" class="inner-item"> {{category.cat}}</a>
        <a routerLink="/fatawa/related-questions/{{subItem.id}}" class="inner-item" *ngFor="let subItem of category.childs">{{subItem.cat}}</a>
    </div>
</div>
</div>
