<div class="container py-0 my-0">
    <nav class="navbar navbar-expand-lg pt-0 py-0 my-0">
        <a class="navbar-brand mx-auto" [routerLink]="navLinks[0]">
            <img src="assets/images/Logo.svg" alt="logo.svg">
        </a>
        
        <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="assets/images/menu.svg" alt="">
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4 ps-4">
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active"  [routerLink]="navLinks[1]">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[2]">مشروعات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[3]">الفتاوى</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[4]">بحوث ومؤلفات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[5]">دروس و دورات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[6]">محاضرات</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"   [routerLink]="navLinks[7]">السيرة الذاتية</a>
                </li>

            </ul>
            <span class="btn-contact d-flex align-items-center justify-items-center text-center">
                <a class="text-center mx-auto text-light text-decoration-none" [routerLink]="navLinks[8]">
                    <img src="assets/images/call.svg" alt="call.svg">
                    <p class="mt-2 text-contact">اتصل بنا</p>
                </a>
            </span>
        </div>
        
    </nav>
</div>