<div class="item-carousal2 mx-2" *ngIf="!show" [style.width]="width">
</div>
<div class="item-carousal2-all mx-2" *ngIf="show" [style.width]="width">
    <div class="bg-bg d-flex align-items-end" style="width: 100%; height: 100%;">
   <div class="p-2">
    <p class="pd-bg">تطبيق إلكتروني للفتاوى</p>
   <p class="pd-pp">
    تطبيق إلكتروني (خدمة إلكترونية) يقدمها "وقف مناطات" المكتب العلمي للشيخ سليمان بن عبدالله الماجد، تمكن المستفيد (المستفتي) من الوصول إلى الفتاوى من خلال بحث دقيق في قاعدة البيانات للحصول على جواب لأسئلته واستفساراته، دون الحاجة إلى إرسال السؤال أو تقديم طلب فتوى إلى المكتب.
   </p>
   </div>
</div>
   
</div>