<div style="height: 200px; " class="main-layout-container d-sm-block d-none"></div>
<footer class="footer pb-4 d-sm-block d-none" >
    <div class="main-layout-container pt-4" style="background-color: transparent;">
    <div class="row p-0 m-0 g-3">
        <a class="col-md-4 col-12 text-decoration-none" routerLink="/blogs">
            <div class="d-flex justify-content-center align-items-center bg-light p-4 card-d">
            <div class="text-center pt-4">
                <img src="assets/images/computer.svg" alt="" width="100" height="100">
            <p class="pp mt-4">تدوينات </p>
            </div>
        </div>
    </a>
        <a class="col-md-4 col-12 text-decoration-none" routerLink="/al-mawjaz-al-fiqhi">
            <div class="d-flex justify-content-center align-items-center bg-light p-4 card-d">
            <div class="text-center pt-4">
            <img src="assets/images/books.svg" alt="" width="100" height="100">
            <p  class="pp mt-4">الموجز الفقي</p>
            </div>
            </div>
        </a>
        <a class="col-md-4 col-12 text-decoration-none" routerLink="/qatuf">
            <div class="d-flex justify-content-center align-items-center bg-light p-4 card-d">
            <div class="text-center pt-4">
            <img src="assets/images/management-team.svg" alt="" width="100" height="100">
            <p  class="pp mt-4">قطوف</p>
            </div>
            </div>
        </a>
    </div>
    <div class="row align-items-center pb-4">
        <div class="col-md-4 col-12">
            <img src="assets/images/Logo-footer.svg" alt="">
            <p class="pppp pt-4">ماهو وقف مناطات؟</p>
            <p class="pd-pp" [innerHTML]="about.about">
              
            </p>
            <p class="d-link">
                تابعنا على منصات التواصل الإجتماعي
            </p>
            <div class="d-flex justify-content-between">
                <a [href]="about.facebook" target="_blank">
                    <img src="assets/images/facebook-5.svg" alt="">
                   </a> 
                   <a [href]="about.youTube" target="_blank"> <img src="assets/images/youtube.svg" alt=""></a>
                   <a [href]="about.instagram" target="_blank"><img src="assets/images/instagram-logo.svg" alt=""></a> 
                   <a [href]="about.twitter" target="_blank"><img src="assets/images/twitter-2 1.svg" alt=""></a> 
                   <a [href]="about.phone" target="_blank"> <img src="assets/images/whatsapp-5 1.svg" alt=""> </a>
                   <a [href]="about.telegram" target="_blank"> <img src="assets/images/telegram.svg" alt=""> </a>
            </div>
        </div>
        <div class="col-md-8 col-12 ps-4">
          <div class="row ps-4">
            <a routerLink="/home" class="col border-left-div alink">الرئيسية</a>
            <a routerLink="/project" class="col border-left-div alink">مشروعات</a>
            <a routerLink="/fatawa" class="col border-left-div alink">فتاوى</a>
            <a routerLink="/video-audio" class="col border-left-div alink">دورات و دروس</a>
            <a routerLink="/lectures" class="col  alink">محاضرات</a>
            <!-- <a href="" class="col alink">الرئيسية</a> -->
          </div>
          <div class="row mt-4 ps-4">
            <a routerLink="/research" class="col border-left-div alink">بحوث ومؤلفات</a>
            <a routerLink="/cv" class="col border-left-div alink">سيرة ذاتية</a>
            <a routerLink="/blogs" class="col border-left-div alink">تدوينات</a>
            <a routerLink="/contact-us" class="col border-left-div alink">اتصل بنا</a>
            <a routerLink="/qatuf" class="col  alink">قطوف</a>
            <!-- <a href="" class="col alink">الرئيسية</a> -->
          </div>
        </div>
    </div>
    </div>
</footer>
<footer class="d-sm-none d-block">
    <div class="row p-0 m-0 g-3">
        <div class="col-md-4 col-12">
            <div routerLink="/blogs" class="d-flex justify-content-center align-items-center cursor-pointer bg-light p-4 card-d">
            <div class="text-center pt-4">
                <img src="assets/images/computer.svg" alt="" width="100" height="100">
            <p class="pp mt-4">تدوينات </p>
            </div>
        </div>
        </div>
        <div class="col-md-4 col-12">
            <div routerLink="/al-mawjaz-al-fiqhi" class="d-flex justify-content-center align-items-center bg-light cursor-pointer p-4 card-d">
            <div class="text-center pt-4">
            <img src="assets/images/books.svg" alt="" width="100" height="100">
            <p  class="pp mt-4">الموجز الفقي</p>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div routerLink="/qatuf" class="d-flex justify-content-center align-items-center bg-light cursor-pointer p-4 card-d">
            <div class="text-center pt-4">
            <img src="assets/images/management-team.svg" alt="" width="100" height="100">
            <p  class="pp mt-4">قطوف</p>
            </div>
            </div>
        </div>
    </div>
    <div class="footer p-4">
        <div class="row align-items-center mt-4">
            <div class="col-md-4 col-12">
                <img src="assets/images/Logo-footer.svg" alt="">
                <p class="pppp pt-4">ماهو وقف مناطات؟</p>
                <p class="pd-pp" [innerHTML]="about.about">
                   
                </p>
                <p class="d-link">
                    تابعنا على منصات التواصل الإجتماعي
                </p>
                <div class="d-flex justify-content-between">
                    <a [href]="about.facebook" target="_blank">
                        <img src="assets/images/facebook-5.svg" alt="">
                       </a> 
                       <a [href]="about.youTube" target="_blank"> <img src="assets/images/youtube.svg" alt=""></a>
                       <a [href]="about.instagram" target="_blank"><img src="assets/images/instagram-logo.svg" alt=""></a> 
                       <a [href]="about.twitter" target="_blank"><img src="assets/images/twitter-2 1.svg" alt=""></a> 
                       <a [href]="about.phone" target="_blank"> <img src="assets/images/whatsapp-5 1.svg" alt=""> </a>
                       <a [href]="about.telegram" target="_blank"> <img src="assets/images/telegram.svg" alt=""> </a>
    
                </div>
            </div>
            <div class="col-md-8 col-12 pt-4 mt-4">
              <div class="row">
                <a routerLink="/home" class="col border-left-div alink">الرئيسية</a>
                <a routerLink="/project" class="col border-left-div alink">مشروعات</a>
                <a routerLink="/fatawa" class="col  alink">فتاوى</a>
                
                <!-- <a href="" class="col alink">الرئيسية</a> -->
              </div>
              <div class="row mt-4">
                <a routerLink="/video-audio" class="col border-left-div alink">دورات و دروس</a>
                <a routerLink="/lectures" class="col border-left-div  alink">محاضرات</a>
                <a routerLink="/research" class="col  alink">بحوث ومؤلفات</a>
              </div>
              <div class="row mt-4 ">
                
                <a routerLink="/cv" class="col border-left-div alink">سيرة ذاتية</a>
                <a routerLink="/blogs" class="col border-left-div alink">تدوينات</a>
                <a routerLink="/contact-us" class="col alink">اتصل بنا</a>
                
                <!-- <a href="" class="col alink">الرئيسية</a> -->
              </div>
              <div class="mt-4 text-center">
                <a routerLink="/qatuf" class="col  alink">قطوف</a>
              </div>
            </div>
        </div>
    </div>
</footer>
