<div class="d-none d-md-block">
    <div class="information-container d-flex align-items-center justify-content-start">
        <div>
            <div class="info-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-icon">
                            <img src="/assets/images/whatsapp.svg" width="80%" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center justify-content-start">
                        <div class="info-item-container">
                            <div class="info-item-header">الواتـــساب</div>
                            <div class="info-item-data">+2001012139683</div>
                            <div class="info-item-data">+2001142788054</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-icon">
                            <img src="/assets/images/home-phone.svg" width="80%" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center justify-content-start">
                        <div class="info-item-container">
                            <div class="info-item-header">الجــوال</div>
                            <div class="info-item-data">+2001012139683</div>
                            <div class="info-item-data">+2001142788054</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-icon">
                            <img src="/assets/images/envelop.svg" width="80%" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center justify-content-start">
                        <div class="info-item-container">
                            <div class="info-item-header">البريد الإليكترونى</div>
                            <div class="info-item-data">m7moud@gmail.com</div>
                            <div class="info-item-data">info.m7moud@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>