<div class="main-layout-container pt-4">
    <div class="mt-4 pt-4"></div>
    <p class="head text-center pt-4 mt-4">البرامج التلفزيونية</p>
    <div class="row">
        <div class="col-md-7  col-12">
            <iframe width="100%" class="video_youtube" height="100%" src="https://www.youtube.com/embed/i-N30g8vYVo?si=t6JAhHcSaYAHWPMp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-5 col-12">
            <app-share-card-video></app-share-card-video>
            <app-share-card-video></app-share-card-video>
            <app-share-card-video></app-share-card-video>
            <app-share-card-video></app-share-card-video>
        </div>
        <p class="app-link text-end pt-2">عرض الكل</p>
    </div>
  
</div>