.border2-right{
    border-right: 5px solid #00A58C;
}
.bs2-title{
    color: #00A58C;
text-align: right;
font-family: Almarai;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-left: 2px solid #00A58C;
}
.bs2-body{
color: #1A201D;
text-align: right;
font-family: Almarai;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 200% */
}