/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'almarai';
    font-weight: 400;
}

@font-face {
    font-family: 'almarai';
    src: url('/assets/fonts/Almarai-Regular.ttf') format('truetype');
}

.pageUser .ql-toolbar{
  position: relative;
  top: 180px;
  z-index: 20;
  text-align: left;
  border: none !important;
  
}
:root {
    --black-color: #171717;
    --black-color:#1A201D;
    --grey-color: #C0C0C0;
  }
  .border-right{
    border-right: 2px solid var(--secondary-main, #A18131);
  }
  .truncate-1-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .truncate-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .truncate-4-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .truncate-5-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .truncate-6-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }
  .truncate-7-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .truncate-10-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom ,#00a88e,#00a88e);
    border-radius: 6px;
    transition: all .5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    /* background: linear-gradient(to bottom ,#ffffff,#00a88e,#ffffff); */
    cursor: pointer;
}
.small-information{
  color: var(--grey-color);
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  line-height: 23px;
}

.submit-btn{
  display: inline-block;
  text-align: center;
  color: white;
  background-color:#00A58C;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
}
.submit-btn-outline{
  display: inline-block;
  text-align: center;
  color: #00A58C;
  background-color:white;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
  border: 1px solid #00A58C;
  text-decoration: none;
}


.toggle-group .toggle-handle{
  opacity: 1;
  margin-top: 17px !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}
.toggle-group .toggle-handle, .toggle-group .btn {
  /* background-color: black !important; */
  background-color: white !important;
  /* width: 10px; */
  /* height: 10px; */
  /* border-radius: 100%; */
}
.toggle-group .toggle-on,.toggle-group  .toggle-off{
  background-color: black !important;
  color: black !important;
}
.slick-arrow{
  fill:#00A58C !important
}
.slick-disabled{
  fill:#DEDEDE !important
}
.main-layout-container{
  background-image: url('/assets/images/background.svg');
  background-color: #f2f2f2;
}
@media(0px <= width <= 767px) {
  .main-layout-container{
      padding: 0px 16px;
  }
}
@media(767px <= width <=5000px) {
  .main-layout-container{
      padding: 0px 86px;
  }
}

.toggle {

  border-radius: 25px !important;
  transform: rotate(90deg);
}

.width-btn{
  margin-top: 17px !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}
.sub-header{
  color: #171717;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  padding: 25px 0px 30px 0px;
}
.keyword-item{
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 20px;
  background-color: white;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.keyword-item:last-child{
  margin-left: 0px;
}
.botton-link{
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: white;
}





/* -----------------------------forms and inputs styles-------------------------------------- */
.vision-container{
  background-color: white;
  color: #1A201D;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 25px;
}
.form-container,.information-container{
  padding: 20px 40px;
  background-color: white;
  min-height: 660px;
  margin-bottom: 70px;
}
.information-container{
  overflow: hidden;
}
.form-header{
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #171717;
  margin-bottom: 30px;
}
.form-control-content{
  height: 125px;
}
.form-text-area-content{
  height: 240px;
}
.controller-field-container{
  width: 100%;
  height: 58px;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  background-color: #F5F5F5;
}
.controller-field-prefix-image{
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 19px;
  right: 15px;
  z-index: 2;
}
.controller-field-suffix-image{
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 19px;
  left: 15px;
  z-index: 2;
}
.controller-field-input{
  display: inline-block;
  height: 55px;
  width: calc(100% - 50px);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 20px 0px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #F5F5F5;
  color: #00A58C;
}
.controller-field-input::placeholder{
  color:#C0C0C0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.input-label{
  color:black;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
  padding-right: 15px;
}
.input-error{
  padding-right: 10px;
  color: red;
}
.container-padding-left{
  padding-left: 30px;
}
.container-padding-right{
  padding-right: 30px;
}
.text-area-field{
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 20px;
  resize: none;
  color: #00A58C;
}

.info-icon{
  border-left: 3px solid #00A58C;
  height: 113px;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.info-item{
  margin: 70px 0px;
}
.info-item-header{
  color:black;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;   
  margin-bottom: 10px;
}
.info-item-data{
  color: #9A9A9A;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
input[type="checkbox"] {
  display: inline-block;
  transform: scale(1.5);
}
input[type="checkbox"]:checked{
  accent-color: #00A58C;
  display: inline-block;
}
select option{
  background-color: white;
  color:#00A58C;
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #00A58C;
  padding-right: 20px;
}
select option:hover{
  background-color: #00A58C;
  color:white;
}
a{
  cursor: pointer;
  user-select: none;
}
/* -----------------------------forms and inputs styles-------------------------------------- */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
