@media(0px <= width <= 767px) {
    .site-header{
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: var(--black-color);
        line-height: 23px;
      }
      .btn-contact{
        margin-top: 100px;
        width: 100% !important;
        margin-bottom: 40px;
      }
      .nav-item{
        padding-top: 10px;
      }
      .bg-bg-bg{
        position: absolute !important;
    }
    .border-right{
      border: none !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    .bg-background a{
      font-size: 14px !important;
    }
    .bg-image{
      height: 350px !important;
    }
    .video_youtube{
      height: 350px;
    }
    .po{
      font-size: 17px !important;
    }
    .po_h{
      font-size: 15px !important;
    }
    .mt--{
      margin-top: 10px !important;
    }
    .head2{
      font-size: 18px !important;
    }
}
