.p-video{
    color: #171717;
text-align: right;
font-family: Almarai;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pg-audo{
width: 100%;
height: 300px;
 background-image: url('/assets/test-images/card-aidio.png');
 /* background-position: center; */
 background-size: cover;  
 background-repeat: no-repeat;
}

.p-light {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFF;
    text-align: right;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #00A88E;
}
.p-audio{
    color: #000;
text-align: right;
font-family: Almarai;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 160% */
}

.col-p {
    color: #000;
    text-align: right;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
}

.p1 {
    color: #00A58C;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p2 {
    color: var(--Gray, #C0C0C0);
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p3 {
    color: #000;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pppp {
    color: #1A201D;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    /* 212.5% */
}
.search-social-media-item-container{
    width: 20%;
    text-align: center;
    display: inline-block;
}
.search-social-media-item{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50% 50%;
    background-color: black;
    margin-left: 15px;
    text-align: center;
}
.search-social-media-item i{
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 7px;
}
.link-a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}