<div [class]="select?'bg-light border2-right':'bg-light'" >
    <p class="p-head p-2 truncate-1-lines">{{item.title}}</p>
    <div class="row px-2">
        <div class="col-4">
            <img src="assets/images/calendar.svg" alt="">
            <span class="ppp ps-2">{{ item.publishDate | date:'yyyy-MM-dd' }}</span>

        </div>
        <div class="col-4">
            <img src="assets/images/clock-2.svg" alt="">
            <span class="ppp ps-2">{{details.duration.hours}}:{{details.duration.minutes}}:{{details.duration.seconds}}</span>
        </div>
        <div class="col-4">
            <img src="assets/images/website.svg" alt="">
            <span class="ppp ps-2">{{details.views}} مشاهدة</span>
        </div>
    </div>
    <hr class="mx-4 pb-0 mb-0">
</div>