<div class="bg-light">
    <p class="p-head p-2">محاضرة  الإستجابة اسباب وعوائق  -  الشيخ سليمان الماجد</p>
    <div class="row px-2">
        <div class="col-4">
            <img src="assets/images/calendar.svg" alt="">
            <span class="ppp ps-2">2023/03/23</span>
        </div>
        <div class="col-4">
            <img src="assets/images/clock-2.svg" alt="">
            <span class="ppp ps-2">6 دقائق</span>
        </div>
        <div class="col-4">
            <img src="assets/images/website.svg" alt="">
            <span class="ppp ps-2">200 مشاهدة</span>
        </div>
    </div>
    <hr class="mx-4 pb-0 mb-0">
</div>